@import 'typography';
$color-blue-regular: #5B81E3;
$color-blue-light: #80A2FA;
$color-blue-dark: #4870D7;

$color-red: #E24A40;
$color-green: #50BD54;
$color-yellow: #F1A954;

$color-gray-1: #898991;
$color-gray-3: #A5A6AB;
$color-gray-8: #E1E1E9;
$color-gray-9: #E8E9F2;
$color-gray-10: #F1F2FC;
$color-gray-11: #727277;
$color-gray-12: #4D4D58;

$color-white: #FFFFFF;


// box-shadow

$shadow-2: -4px 4px 5px rgba(0, 0, 0, 0.25);
$shadow-y-1: 0px 2px 2px rgba(0, 0, 0, 0.25);