@import 'typography';
$color-blue-regular: #5B81E3;
$color-blue-light: #80A2FA;
$color-blue-dark: #4870D7;

$color-red: #E24A40;
$color-green: #50BD54;
$color-yellow: #F1A954;

$color-gray-1: #898991;
$color-gray-8: #E1E1E9;
$color-gray-10: #F1F2FC;