@import 'app/styles/variables';

.buttonContainer {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: $shadow-2;
  background-color: $color-gray-10;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: darken($color: $color-gray-10, $amount: 5);
  }
}
