@import 'app/styles/variables';
$marginHorizontal: 15px;
.consignmentsContainer {
  box-sizing: border-box;
  width: calc(100% - 2 * $marginHorizontal);
  background-color: $color-white;
  margin: 25px $marginHorizontal 0;
  padding: 30px 35px 25px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.consignmentsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 25px 15px;

  .rateHeader {
    @include regular-3;
    color: $color-blue-light;
  }

  .purchaseHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .consignmentContainer {
    border: 1px solid $color-gray-10;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 4px;

    &:hover {
      .editActionCell {
        visibility: visible;
        cursor: pointer;
      }
    }
  }
  
  .retailerCell, .dateCell, .brandCell {
    width: 22%;
  }
  .purchaseCell, .statusCell {
    width: 16%;
  }

  .retailerCell, .dateCell, .brandCell, .purchaseCell, .statusCell {
    padding: 10px 10px 10px 20px;
  }

  .editActionCell {
    visibility: hidden;
  }

  .retailer {
    display: flex;
    flex-direction: column;

    .retailerName {
      @include regular-2;
    }

    .retailerNumber {
      @include regular-3;
      color: $color-blue-light;
    }
  }

  .purchase {
    display: flex;
    flex-direction: column;

    .purchaseQuantity {
      @include regular-2;
      color: $color-gray-1;
    }

    .purchaseRate {
      @include regular-3;
      color: $color-blue-light;
    }
  }

  .status {
    color: $color-white;
    @include medium-2;
    border-radius: 7px;
    border: 1px solid $color-gray-3;
    text-align: center;
    padding: 10px 0;
    min-width: 100px;
    max-width: 150px;
  }
  .statusConfirmed {
    background-color: $color-green;
  }
  .statusOnHold {
    background-color: $color-yellow;
  }

  .dateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.pageHandleContainer {
  display: flex;
  flex: 3;
}

.dashboardFooter {
  margin-top: 100px;
  display: flex;
  align-items: center;
  // column-gap: 100px;
}

.actionsContainer {
  display: flex;
  column-gap: 25px;
  flex: 2;
  justify-content: flex-end;
}